{% extends 'base.html.twig' %} {% block title %}Mon panier - MyEcommerce{%
endblock %} {% block content %}

<h1>Mon Panier</h1>
<p>Retrouvez l'ensemble des produits dans votre panier.</p>
{% if cart|length > 0 %}
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Produit</th>
      <th scope="col"></th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% set total = null %} {% for product in cart %}
    <tr>
      <td>
        <img
          src="/uploads/{{ product.product.illustration }}"
          alt="{{ product.product.name }}"
          height="75px"
        />
      </td>
      <td>{{ product.product.name }}<br /><small></small></td>
      <td>
        <a href="{{ path('decrease_to_cart',{'id': product.product.id }) }}" class="ml-3">
          <img
              src="{{ asset('/assets/img/minus.png') }}"
              alt="Diminuer la quantité"
              height="12"
            />
        </a>
        {{ product.quantity }}
        <a href="{{ path('add_to_cart',{'id': product.product.id }) }}">
          <img
              src="{{ asset('/assets/img/plus.png') }}"
              alt="Augmenter la quantité"
              height="12"
            />
        </a>
      </td>
      <td>{{(product.product.price / 100) | number_format(2,',','.') }} €</td>
      <td>
        {{((product.quantity * product.product.price) / 100) | number_format(2,',','.') }}
        €
      </td>
      <td>
        <a href="{{ path('delete_to_cart', { id: product.product.id }) }}">
          <img
            src="{{ asset('/assets/img/trash.png') }}"
            alt="Supprimer mon produit"
            height="18"
          />
        </a>
      </td>
    </tr>
    {% set total = total + (product.quantity * product.product.price) %} {%
    endfor %}
  </tbody>
</table>
<div class="text-right">
  <p>
    <span class="font-weight-bold">Nombre de produit : </span
    >{{ cart | length }}
  </p>
  <p>
    <span class="font-weight-bold">Total de mon panier : </span
    >{{(total / 100) | number_format(2,',','.') }} €
  </p>
  <a href="" class="btn btn-primary btn-block mt-3">Valider mon panier</a>
</div>
{% else %}
<hr />
<p class="font-weight-bold">Votre panier est vide.</p>
{% endif %} {% endblock %}
