{% extends 'base.html.twig' %} {% block title %}Mon compte - MyEcommerce {%
endblock %} {% block content %}
<h1>Mon compte</h1>

<p>
  Bienvenue
  {{ app.user.firstname }}
  dans votre compte.
  <br />
  C'est dans cet espace que vous allez pouvoir gérer toutes vos informations
  personnelles.
</p>
<div class="row text-center">
  <div class="col-md-4">
    <div class="account-item">
      <img src="{{ asset('assets/img/padlock.png') }}" alt="image cadenas"> <br>
      <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="account-item">
      <img src="{{ asset('assets/img/address-book.png') }}" alt="image carnet d'adresses"> <br>
      <a href="{{ path('account_address') }}">Gérer mes adresses</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="account-item">
      <img src="{{ asset('assets/img/shopping-cart-order.png') }}" alt="image chariot"> <br>
      <a href="{{ path('account_order') }}">Mes commandes</a>
    </div>
  </div>
</div>

<hr />
{% if is_granted('ROLE_ADMIN') %}
<a href="/admin" class="btn btn-info">Accéder au back-office</a><br />
{% endif %} {% endblock %}
